<app-header></app-header>
<div class="container">
  <div class="content">
    <div class="left">
        <div class="title">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, iure.</p>
        </div>

        <div class="info">
            <div><i class='bx bxs-phone'></i>
                <p>+(963)932-063758</p>
            </div>
            <div><i class='bx bxl-gmail'></i>
                <p>abdullah000abbas@gmail.com</p>
            </div>
            <div><i class='bx bxs-map'></i>
                <p>Syria - Homs</p>
            </div>
        </div>
        <div class="icons">
           <a href="www.facebook.com/abdullah0abbas"><i class="bx bxl-facebook-square"></i></a>
           <a href="https://www.instagram.com/abdullah0abbas/"> <i class="bx bxl-instagram-alt "></i></a>
           <a href=""><i class="bx bxl-twitter "></i></a>
            <a href="https://www.linkedin.com/in/abdullah0abbas/"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>


    <div class="contact">
        <form action="">
            <label for="">Your Name</label>
            <input type="text" placeholder="Your Name">

            <label for="">Email Address</label>
            <input type="email" placeholder="Your Email">

            <label for="">Message</label>
            <textarea name="" id="" cols="30" rows="10" placeholder="Enter Your Message"></textarea>
            <input class="btn" type="submit" value="Send Message">
        </form>
    </div>
  </div>
</div>